<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Used Magento arugument replacment concept -->
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="checkout_delivery_slot_config_provider" xsi:type="object">Lofmp\DeliverySlot\Model\DeliverySlotConfigProvider</item>
            </argument>
        </arguments>
    </type>
</config>
