<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="adminhtml_sales_order_creditmemo_register_before">
        <observer name="lofmp_rma_creditmemo_register_before" instance="\Lofmp\Rma\Observer\SalesOrderCreditmemoRegisterBefore"/>
    </event>
    <event name="sales_order_creditmemo_save_after">
        <observer name="lofmp_rma_creditmemo_save_after" instance="\Lofmp\Rma\Observer\SalesOrderCreditmemoSaveAfter"/>
    </event>

    <event name="controller_action_postdispatch">
        <observer name="lofmp_rma_action_postdispatch" instance="\Lofmp\Rma\Observer\RmaPostdispatch"/>
    </event>

    <event name="rma_update_rma_after">
        <observer name="lofmp_rma_update_rma_after" instance="\Lofmp\Rma\Observer\RmaChangedObserver"/>
    </event>
    <event name="rma_new_load">
        <observer name="lofmp_rma_rma_new_load" instance="\Lofmp\Rma\Observer\RmaNewObserver"/>
    </event>
    <event name="rma_add_message_after">
        <observer name="lofmp_rma_add_message_after" instance="\Lofmp\Rma\Observer\AddMessageObserver"/>
    </event>

    <event name="sales_order_save_after">
        <observer name="lofmp_rma_save_order_status_history" instance="\Lofmp\Rma\Observer\OrderSaveAfter"/>
    </event>
</config>
