<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    	<add id="Lofmp_StoreLocater::locator" icon="fa fa-map-marker" title="Seller Locator" module="Lofmp_StoreLocater" sortOrder="130" resource="Lofmp_StoreLocater::locator"/>
    	<add id="Lofmp_StoreLocater::manager" title="Manager StoreLocator" module="Lofmp_StoreLocater" action="catalog/sellerlocator/grid" sortOrder="131" parent="Lofmp_StoreLocater::locator" resource="Lofmp_StoreLocater::manager"/>
        <add id="Lofmp_StoreLocater::tag" title="Add Tag " module="Lofmp_StoreLocater" action="catalog/tag" sortOrder="132" parent="Lofmp_StoreLocater::locator" resource="Lofmp_StoreLocater::tag"/>
    	
    </menu>
</config>