<!--
/**
 * Copyright © 2017 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{var subject|raw}} @-->
<!--@vars {
"var customer_name":"Customer Name",
"var subject":"Subject",
"var message":"Message",
"var seller_name":"Seller Name",
"var seller_link":"Seller Link"
} @-->
{{template config_path="design/email/header_template"}}
<p>{{var message|raw}}</p>
<p>You're getting this email because you follow or subscribed to <a href="{{var seller_link|raw}}">{{var seller_name|raw}}</a>.</p>
{{template config_path="design/email/footer_template"}}
