<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- plugin on PaymentInformationManagementInterface -->
    <type name="Magento\Checkout\Api\PaymentInformationManagementInterface">
        <plugin name="delivery_slot_plugin"
                type="Lofmp\DeliverySlot\Plugin\PaymentInformationManagementPlugin"
                sortOrder="1"
                disabled="false"/>
    </type>

    <!-- plugin on OrderRepositoryInterface -->
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="delivery_slot_my_orders_plugin"
                type="Lofmp\DeliverySlot\Plugin\OrderRepositoryPlugin"
                sortOrder="1"
                disabled="false"/>
    </type>
</config>
