#generate_form
  .admin__fieldset
  .admin__field
  .admin__field-control
  .admin__control-select {
  width: 100%;
}
#generate_form .admin__fieldset .admin__field-note {
  margin-top: -10px;
}
.admin__field.field-generate_coupon #lofmp_couponcode_generate_generate_coupon {
  float: right;
  background-color: #eb5202;
  border-color: #eb5202;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-right: 0px;
}
.admin__field.field-generate_coupon
  #lofmp_couponcode_generate_generate_coupon:hover {
  background-color: #ba4000;
  border-color: #b84002;
  color: #fff;
  text-decoration: none;
}
