.admin__field.field-options_fieldset_entity_id {
    margin-bottom: 0;
}

.admin__field.field-options_fieldset_entity_id label {
    cursor: auto;
}

.admin__field.field-chooseroptions_fieldset_entity_id {
    margin-top: 0;
}
