<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <gdpr>
            <module>
                <type>1</type>
            </module>
            <general>
                <enabled>1</enabled>
                <allow_delete_customer>1</allow_delete_customer>
                <delete_customer_message>Your account will be permanently deleted. Once you delete your account, there is no going back. Please be certain.</delete_customer_message>
                <allow_delete_default_address>1</allow_delete_default_address>
            </general>
        </gdpr>
    </default>
</config>
